.projects.new {
  h2 {
    font-size: 35px;
  }
  .container {
    background: transparent;
  }

  .form-container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;

    p {
      max-width: 70%;
    }
  }

  form {
    .form-check {
      padding-left: 10px;
      margin: 5px 0;
    }
    .form-label,
    .col-form-label {
      font-size: 20px;
      font-weight: bold;
    }
    .btn {
      opacity: 1;
    }
  }
}
