#pills-posts {
  .container {
    display: grid;
    gap: 20px;
    grid-template-columns: 400px 1fr;

    .form {
      position: sticky;
      top: 50px;
    }
  }
}

.projects.show {
  .navbar-lewagon {
    border-bottom: none;
  }
  .project-show-avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
}

.banner-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .button {
    border: 1px solid black;
    background: #e9d8cf;
    opacity: 1;
    &:hover {
      opacity: 1;
      background: #e9d8cf;
    }
  }
  p {
    font-size: 35px;
    color: black;
    margin-bottom: 0;
    opacity: 1;
    i {
      color: black;
    }
  }
}

.banner-heading h1 {
  color: black;
}
.d-flex {
  display: flex;
  justify-content: left;
  .project-body {
    display: flex;
    justify-content: left;
    margin: 50px;
  }
}

.splide {
  .splide__track {
    border-radius: 5px;

    .splide__list {
      border-radius: 5px;
    }

    .splide__slide {
      border-radius: 5px;

      img {
        border-radius: 5px;
      }
    }
  }
}
