
.users.show {
  section {
    background-color: #eed8cb;
  }
  .container {
    border-radius: 0;
  }
}

.message-area {
  height: 100px;
  margin-left: 175px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;

  p {
    margin-top: 10px;
  }

  .message-btn {
    background-color: #FE962F;
    border-radius: 10px;
    padding: 10px 20px;
    height: 46px;
    margin-top: 15px;
  }
}

.user-show-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 8px;

  p {
    font-size: 15px;
    font-weight: bold;
  }

  .user-info {
    border: 2px solid black;
    padding: 20px;
    border-radius: 8px;
    background-color: #F3F1DE;
    width: 75%;
  }

  .badges {
    position: absolute;
    bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    p {
      font-size: 10px;
    }
  }

  .user-skills {
    text-align: center;
    position: relative;
    width: 25%;
    padding: 20px;
    min-height: 250px;
    border-radius: 8px;
    background-color: #F3F1DE;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid black;

    .user-skill {
      background-color: #FE962F;
      color: black;
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
    }

  }
}

.bio-text {
  text-align: justify;
  text-justify: inter-word;
}
