<h1>Browse all Volunteers</h1>

<div>
  <% @users.each do |user| %>
    <h4><%= link_to user.first_name, user_path(user) %></h4>
    <h5><%= user.location %></h5>
    <%# <p><%= user.description %></p>
    <p>Skills:</p>
    <ul>
      <% user.skills.each do |skill| %>
        <li><%= skill.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>


