<div class = "p-4">
  <%= form_with url: users_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find a collaborator by their name, location or skill"
                  %>
    <%= submit_tag "Search", class: "button" %>
  <% end %>
</div>
