<div class="container mt-3">
  <div class="banner flex-container d-flex align-items-center">
    <div class="text">
      <h1>My People </h1>
      <h1>My Community</h1>
      <p> Skill share for social change </p>
    </div>
    <div
      class="banner-img-together">
    </div>
  </div>
  <div class="home-container">
    <h2> <%= link_to "Add your project", new_project_path, class: "button-skewed" %> <%= link_to "Join a venture", projects_path, class: "button-skewed" %> <%= link_to 'Build your team', users_path, class: "button-skewed" %></h2>
  </div>
<div>
