<div class="banner">
  <div class="text">
    <h1>My People My Community</h1>
    <h3> Skill share for social change</h3>
  </div>
</div>

<div>
Our Current Projects
</div>


  <%= link_to 'see all projects', projects_path %>
</div>
