.background .big {
  width: 75%;
  opacity: 0.8;
  border: 4px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 8px 8px;
  padding: 20px;
  background-color:#F3F1DE;
  color: black;
  font-weight: bold;
}

.background .small {
  opacity: 0.8;
  border: 2px solid black;
  margin: 8px 8px;
  padding: 20px;
  border-radius: 8px;
  background-color: #F3F1DE;
  width: 25%;
  color: black;
  font-weight: bold;
  text-align: center;
    p {
      background-color: orange;
      padding: 20px;
      border-radius: 8px;
    }
}
