.banner {
  background-image: url("community.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f1f0ea;
  width: 60vw;
  height: 80vh;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
 }


.banner h1 {
  font-size: 110px;
  color: #E54B03;
  text-shadow: #000 0px 0px 1px;
}


.banner p {
  font-size: 30px;
  color: #2A1508;
}

// .slice1 {
//   background-image: url("Slice 1.png");
//   background-size: cover;
//   margin-left: 21px;
//   height: 50vw;
// }

// .slice2 {
//   background-image: url("Slice 2.png");
//   background-size: cover;
//   height: 50vw;
// }
