.banner {
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: -40px;
}

.bg-color {
  background-color: #f53b0b;
}

.flex-container {
  display: flex;
}

.banner-img-together {
  background-image: url("banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  transform: skew(351deg);
}

.banner h1 {
  color: black;
  font-size: 80px;
}

.banner p {
  font-size: 30px;
  color: #2a1508;
}

.project-banner {
  height: 60vh;
  width: 100vw;
  background-size: cover;
}

.banner-btn {
  margin-top: 12px;
}

.message-button-wrapper {
  display: flex;
  align-items: flex-end;
}

.user-show-banner {
  display: flex;
  justify-content: space-between;
}
.user-show-banner-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: 600;
  }
  .user-show-avatar {
      .avatar-large {
      height: 100px;
      width: 100px;
    }
  }
}

.banner-page#banner {
  background-image: url("https://res.cloudinary.com/divqv7xyh/image/upload/v1668586519/banner-hands_1_vtfejf.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
