.button {
background-color: #feaa2d;
border-radius: 12px;
color: #00bc83;
// border: 1px solid #CAD2E8;
padding: 12px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 10px;
// opacity: 0.6;
font-weight: bold;
}

#status {
  a {
    padding: 10px;
  }
}

// $blue: #E0F8F4;
// $yellow: #FFFDED;
// $orange: #FA6139;
// $dark-orange: #FE962E;
// $white: white;

// //
// $green: green;
// $red: red;

 .button:hover {
   opacity: 1;
   background-color:  rgb(255, 170, 51);
   color: #0c8c6d
 }
