.button {
background-color: #CAD2E8;
border-radius: 20px;
color: black;
border: 1px solid #CAD2E8;
padding: 15px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 10px;
opacity: 0.6;
}

.button:hover {
  opacity: 1;
  background-color:  #f1f0ea;
}
