.dashboard-cards {
  margin-top: 10px;
}
.dashboard-card {
  border: 2px solid black;
  text-align: center;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  align-items: stretch;
  height: 40%;
  margin-top: 10px;
}

.dashboard-content {
  border: 2px solid black;
  border-radius: 8px;
  background-color:  #f3f1de;;
  padding: 10px;

  .your-projects {
    .project {
      .collaborators {
        
      }
    }
  }
}

.card-image {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.card-image#banner {
  background-image: url('https://res.cloudinary.com/divqv7xyh/image/upload/v1668586358/08276735f27856e43306bc6419052ff880c0f9d1-1500x1138_ottzf5.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}

.card-content {
  display: flex;
  flex-direction: column;
  // padding-top: px;
  background-color: #FDF3F0;
  // height: 75px;


  h5 {
    text-align: left;
    margin-left: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  }


.card-content-items {
  display: grid;
  grid-template-columns: 40% 1fr 1fr;

  p {
    padding-top: 12px;
    font-size: 15px;
    padding-left: 8px;
  }

}

.card-content-items-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  p {
    padding-top: 12px;
    font-size: 15px;
    padding-left: 8px;
    background-color: #5e8eb0; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    // text-align: center;
    text-decoration: none;
    // display: inline-block;
    // font-size: 16px;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 8px;
    &.PENDING{
      background-color: orange;
    }
    &.DECLINED{
      background-color: red;
    }
    &.ACCEPTED{
      background-color: #74b576;
    }
  }
}

.card-content-description {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: center;

  // p {
  //   padding-top: 12px;
  //   font-weight: bold;
  //   font-size: 12px;
  // }
}
