// .container {
//   width: 800px;
//   // color: #FA6139;
//   margin: 20px;
//   background-color: #FDF6F9;
// }

// body {
//   background-image: url("Slice 1.png"), url("Slice 2.png");
//   width: 100%;
// }
.container {
//   // text-align: center;
//   // margin-top: 35px;
//   // width: 90%;
//   // margin-right: auto;
//   // margin-left: auto;
//   // margin-bottom: 50px;
//   // margin-top: 65px;
//   // background-color: #c2b5b7;
//   // border: 2px solid;
  border-radius: 8px;
}

.container-header {
  text-align: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  // border: 2px solid;
}

a {
  text-decoration: none;
  color: #934683;
}
