.form {
  background: #EED8CB;
  padding: 10px 50px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  width: 80%;
  align-self: center;


  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 30px;
    text-align: center;
  }
  .btn {
    margin-left: 35%;
    width: 30%;
    min-width: fit-content;
    margin-bottom: 20px;
    border-radius: 12px;
    color: black;
    border: 1px solid #CAD2E8;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    opacity: 0.6;
    font-weight: bold;
  }

  .btn:hover {
    opacity: 1;
    background-color:  #f1f0ea;
  }
  .skill-pill {
    position: absolute;
    transform: scale(0);
  }

  .skill-pill + label {
    cursor: pointer;
    background-color: #3A8B82;
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 15px;
    color: white;
    font-weight: light;
    opacity: 0.6;
  }
  .skill-pill:checked + label {
    opacity: 1;
  }

  .category-pill {
    position: absolute;
    transform: scale(0);
  }

  .category-pill + label {
    cursor: pointer;
    background-color: #3A8B82;
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 15px;
    color: white;
    font-weight: light;
    opacity: 0.6;
  }
  .category-pill:checked + label {
    opacity: 1;
  }
}

.post {
  display: flex
}


.form#project-form {
  background-color: #EED8CB;
  padding-top: 20px;

  .form-label {
   font-size: 18px;
   font-weight: bold;

  }
  .btn {
    background-color: #f1f0ea;
  }
}
