.navbar-lewagon {
  justify-content: space-between;
  background:#F1F0EA;
  // border-bottom: 0.3px solid #2A1508;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}
