.navbar-lewagon {
  justify-content: space-between;
  background:#f53b0b;
  position: sticky;
  width: 95%;
  height: 60px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-top: 10px;
}

.navbar-brand p {
  color: black;
}

a.nav-link {
  color: black;
}
