.search-button {
  margin-left: 10px;
  background-color: #8FE388;
  border: none;
  border-radius: 20px;
  color: #4F6272;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15vw;
  font-size: large;
}

.button-input {
  border-radius: 20px;
  width: 35vw;
  padding: 0 20px;
}
