.search-button {
  margin-left: 10px;
  background-color: #FE962E;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-input {
  border-radius: 20px;
  border-color: #FE962E;
  width: 90em;
  padding: 0 20px;
}
