.search-button {
  margin-left: 10px;
  border-radius: 8px;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  width: 15vw;
  font-size: large;
  color: black;
  border: 1px solid #CAD2E8;
  background-color: #b9b8b7;
}

.search-button:hover {
  background-color: #a9a9a9;
}

.button-input {
  border-radius: 8px;
  width: 50vw;
  padding: 0 20px;
  background-color: #F4F1DE;
}
